body {
  font-family: 'VT323', monospace;
  font-size: 30px;
  background-color: black;
}
#gameContainer {
/* background-color: lightblue; */
position: absolute;
margin: auto;
top: 12%;
bottom: 0;
left: 0;
right: 0;
border: 3px solid rgb(204, 255, 101);
border-radius: 5px;
}
.btn {
  
  text-decoration: none;
  padding:10px;
  background-color: rgb(87, 169, 87);
  font-size: 22px;
  border-radius: 3px;
  color: rgb(231, 247, 4);

}


.playerPanel{
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin:0 auto;
  padding: 10px;
  color:white;
  margin-top: 15px;
}

.lives .playerLives {
  width:20px;
  display: inline-block;
}


.livesHidden{
  display:none;
  visibility: hidden;
}

