body {
  font-family: 'VT323', monospace;
  font-size: 30px;
  background-color: black;
}
#gameContainer {
/* background-color: lightblue; */
position: absolute;
margin: auto;
top: 8%;
bottom: 0;
left: 0;
right: 0;
border: 3px solid chartreuse;
border-radius: 5px;
/* https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4 */
}
.btn {
  /* position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-decoration: none;
  padding:10px;
  background-color: chartreuse;
  font-size: 20px;
  font-weight: bold;

}

/* .player{
  position: absolute;
  top: 3%;
  left: 30%;
}

.score{
  position: absolute;
  top: 3%;
  left: 0%;
} */

.playerPanel{
  display: flex;
  justify-content: space-between;
  background-color: green;
  width: 50%;
  margin:0 auto;
  padding: 10px;
}

.lives .playerLives {
  width:20px;
  display: inline-block;
}


.livesHidden{
  display:none;
  visibility: hidden;
}

.modal{
  /* display: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
 
}